.place__title {
  grid-area: title;
  margin: 0 16px 0 16px;
  padding: 0;

  color: inherit; 

  
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}


@media (min-width: 768px) {
  .place__title {
    margin: 0;

    font-size: 42px;
    line-height: 46px;

    
    align-self: end;
    justify-self: start;

  }
}


@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
